<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="portfolio-image" alt="{{ post.alt }}">
        </a>
        <h3 class="text-center">{{ post.title }}</h3>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Phishing Simulation -->
<div class="col-sm-4 portfolio-item">
  <a href="#phishingModal" class="portfolio-link" data-toggle="modal">
    <div class="caption">
      <div class="caption-content">
        <i class="fa fa-search-plus fa-3x"></i>
      </div>
    </div>
    <img src="img/portfolio/safe.png" class="img-responsive" alt="Phishing Simulation Tool">
  </a>
</div>

<!-- Secure File Transfer -->
<div class="col-sm-4 portfolio-item">
  <a href="#transferModal" class="portfolio-link" data-toggle="modal">
    <div class="caption">
      <div class="caption-content">
        <i class="fa fa-search-plus fa-3x"></i>
      </div>
    </div>
    <img src="img/portfolio/python.png" class="img-responsive" alt="Secure File Transfer App">
  </a>
</div>

<!-- SOC Simulation -->
<div class="col-sm-4 portfolio-item">
  <a href="#socModal" class="portfolio-link" data-toggle="modal">
    <div class="caption">
      <div class="caption-content">
        <i class="fa fa-search-plus fa-3x"></i>
      </div>
    </div>
    <img src="img/portfolio/incident.png" class="img-responsive" alt="SOC Simulation & Threat Detection">
  </a>
</div>

<!-- Help Desk Simulation -->
<div class="col-sm-4 portfolio-item">
  <a href="#helpdeskModal" class="portfolio-link" data-toggle="modal">
    <div class="caption">
      <div class="caption-content">
        <i class="fa fa-search-plus fa-3x"></i>
      </div>
    </div>
    <img src="img/portfo
